
spring:
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000, expireAfterWrite=10m
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${ESM_DB_URL:jdbc:postgresql://213.199.46.212/esmdb}
    username: ${ESM_DB_USERNAME:postgres}
    password: ${ESM_DB_PASSWORD:123456789}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    generate-ddl: true
    open-in-view: false
  security:
    user:
      name: postgres
      password: 123456789
  error:
    whitelabel:
      enabled: false
    path: /error
server:
  error:
    path: /error
  port: ${PORT:8088}

youtube:
  channel-id: UC1B8clCxtmb-bzCDdxmVPDA
cloudinary:
  cloud-name: ${BR10_CLOUDINARY_CLOUD_NAME:dhhlnrons}
  api-key: ${BR10_CLOUDINARY_CLOUD_NAME:712786691512151}
  api-secret: ${BR10_CLOUDINARY_CLOUD_NAME:AIp9AEAYuHYk_IQqDDozHF4Ew9M}