spring:
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000, expireAfterWrite=10m
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${ESM_DB_URL}
    username: ${ESM_DB_USERNAME}
    password: ${ESM_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    generate-ddl: true
    open-in-view: false
  security:
    user:
      name: postgres
      password: 123456789
  error:
    whitelabel:
      enabled: false
    path: /error
server:
  error:
    path: /error
  port: ${PORT:8088}
management:
  endpoints:
    web:
      exposure:
        include: health,info      # sadece gerekli olanları aç
  endpoint:
    health:
      show-details: never         # prod için detayları kapalı tut

youtube:
  channel-id: UC1B8clCxtmb-bzCDdxmVPDA
  channel-id-new: UC761hASk7LtqIqEesg5FTqQ
cloudinary:
  cloud-name: ${BR10_CLOUDINARY_CLOUD_NAME:dhhlnrons}
  api-key: ${BR10_CLOUDINARY_CLOUD_NAME:712786691512151}
  api-secret: ${BR10_CLOUDINARY_CLOUD_NAME:AIp9AEAYuHYk_IQqDDozHF4Ew9M}
